section.about
	.wrapper
		.about__top
			h1 Интернет-магазин компьютерных игр по низким ценам
			p Мы работаем уже 9 лет, и все это время помогаем любителям игр получать именно то, что им нужно, по максимально выгодным ценам.
			p #[span Почему нужно выбрать именно нас?] Мы работаем давно, предлагаем только качественные товары, а также прислушиваемся к пожеланиям своих клиентов.

	.wrapper-smart
		.wrapper-flex
			- var features = [{icon: 'wallet', title: 'Поддерживаем самые разные <br>способы оплаты: Visa, MasterCard, Qiwi, WebMoney, Яндекс.Деньги.'}, {icon: 'live-chat', title: 'Наши сотрудники в онлайн-режиме ответят на <br>все вопросы в любое время. Кроме того, в разделе «Техподдержка» можно задать вопросы по работе сайта.'}, {icon: 'lorry', title: 'Моментальная доставка цифровых товаров: вам не нужно ждать нужную игру или программу. Сразу после оплаты ключ высылается на электронный адрес покупателя и его же можно посмотреть в личном кабинете на сайте.'}, {icon: 'plane', title: 'Доставка физических товаров <br>осуществляется наземным и воздушным транспортом – по вашему выбору.'}, {icon: 'discount', title: 'Для постоянных клиентов у нас действует бонусная программа, за покупки начисляются баллы, которые в дальнейшем можно потратить на новые покупки.'}, {icon: 'joystick', title: 'На сайте «ИгроМагаза» можно найти не только самые необходимые любому геймеру товары, но и массу полезной игровой информации. Мы освещаем самые популярные и ожидаемые игры, даже те, которые еще не вышли в релиз.'}];

				each item in features
					.about__feature
						.about__feature-icon
							img(src="img/icons-svg/" + item.icon + ".svg" alt="alt")
						.about__feature-text: !{item.title}