extends _misc/main

block title
	| Личный кабинет | Помощь

block content
	- var current = 8;
	.wrapper
		ul.breadcrumbs
			li.breadcrumbs__item 
				a(href="#").breadcrumbs__link Главная
			li.breadcrumbs__item 
				a(href="#").breadcrumbs__link Личный кабинет
			li.breadcrumbs__item 
				span.breadcrumbs__link Помощь

	.page.page-lk.page-lk-help
		.wrapper-smart
			.wrapper-flex.page-lk__wrap
				include _blocks/lk-sidebar
				
				.page-lk__content
					.lk-min-header(data-da="page-lk__wrap,991,first")
						h1 Помощь

					+menu('lk-help-links', ['О магазине', 'Оплата товара', 'Как купить?', 'Регистрация', 'Доставка товара', 'Активация ключей'])

					.lk-help-content
						.lk-help-content__title Как купить?
						p ИгроMagaz – это удобно Мы продаем игры по сети. Это очень удобно. Вы покупаете игру, не отходя от компьютера. 

						.lk-help-content__subtitle Как это работает?

						p Все просто. Вы покупаете у нас лицензионный ключ, а далее активируете ключ, устанавливаете игру и играете! 
						
						.lk-help-content__subtitle Как происходит сам процесс покупки?

						p #[span Шаг 1.] Найдите интересующий вас товар и откройте его страницу. Нажмите #[span Купить] на странице товара и #[span Оформить заказ], если вы хотите оплатить его сразу.

						.lk-help-content__img 
							img(src="img/lk-help-page/1.jpg" alt="alt")

						p #[span Шаг 2.] После перехода в корзину вы выберите наиболее удобный для вас способов оплаты. Нажмите #[span Оплатить заказ] и следуйте инструкциям на сайте платежной. Не забывайте, что некоторые платежные системы берут комиссию.

						.lk-help-content__img 
							img(src="img/lk-help-page/2.jpg" alt="alt")

						p #[span Шаг 3.] После прохождения платежа код активации будет отправлен на e-mail, указанный при покупке (регистрации). Вы сможете найти его в разделе #[a(href="#").link-blue Истории заказов], нажав на #[span Ключи и инструкции.] Там же вы сможете ознакомиться с инструкцией по активации кода (ключа).

						.lk-help-content__img 
							img(src="img/lk-help-page/3.jpg" alt="alt")
//- img(src=img + "demo.jpg")
//- img(src=ico + "amex.svg")

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")
	
	//- script(src="js/libs/datepicker/air-datepicker.js")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper.min.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")
		
	//- end VANILLA JS===================================