.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-account {
	font-size:(16/10)*1rem;
	width:(15/16)*1em;
}
.icon-arrow-down {
	font-size:(6/10)*1rem;
	width:(10/6)*1em;
}
.icon-arrow-next {
	font-size:(32/10)*1rem;
	width:(18/32)*1em;
}
.icon-arrow-prev {
	font-size:(32/10)*1rem;
	width:(18/32)*1em;
}
.icon-attention {
	font-size:(38/10)*1rem;
	width:(38/38)*1em;
}
.icon-bonus {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-cart {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-catalog-list {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-catalog-tiles {
	font-size:(14/10)*1rem;
	width:(13/14)*1em;
}
.icon-catatalog-list {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-check {
	font-size:(10/10)*1rem;
	width:(12/10)*1em;
}
.icon-close {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-counter-minus {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-counter-plus {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-discount {
	font-size:(34/10)*1rem;
	width:(34/34)*1em;
}
.icon-dots-burger {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-gift {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-heart-empty {
	font-size:(30/10)*1rem;
	width:(36/30)*1em;
}
.icon-heart-full {
	font-size:(23/10)*1rem;
	width:(26/23)*1em;
}
.icon-heart-lk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-history {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-information {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-joystick {
	font-size:(24/10)*1rem;
	width:(34/24)*1em;
}
.icon-key {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-live-chat {
	font-size:(38/10)*1rem;
	width:(38/38)*1em;
}
.icon-lk-eye {
	font-size:(18/10)*1rem;
	width:(24/18)*1em;
}
.icon-lk-key {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-lk-key_ {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-lk-subscribe {
	font-size:(18/10)*1rem;
	width:(24/18)*1em;
}
.icon-lk-wallet {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-location {
	font-size:(16/10)*1rem;
	width:(12/16)*1em;
}
.icon-location-empty {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-lorry {
	font-size:(38/10)*1rem;
	width:(38/38)*1em;
}
.icon-message {
	font-size:(20/10)*1rem;
	width:(28/20)*1em;
}
.icon-minus {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-pagination-next {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-pagination-prev {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-plane {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-play {
	font-size:(13/10)*1rem;
	width:(11/13)*1em;
}
.icon-plus {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-search {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-triangle {
	font-size:(5/10)*1rem;
	width:(5/5)*1em;
}
.icon-wallet {
	font-size:(34/10)*1rem;
	width:(34/34)*1em;
}
.icon-сheck-mark {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
