/*--------------------password----------------------*/
.page-lk-password{
	padding-bottom: 57px;
	.lk-header {
		p{
			margin-top: 11px;
			margin-bottom: 0;
		}
	}

}
.lk-password-form {
	max-width: 395px;

	@include max-screen($sm){
		max-width: none;
		padding: 26px 20px;
		background: #F2F6F9;
		border-radius: 20px;
	}  

	.form__input {
		display: flex;
		align-items: center;
		background-color: $gray;

		@include max-screen($sm){
			background-color: #fff;
		}  
	}
	.btn {
		width: 273px;

		@include max-screen($xs){
			width: 100%;
		}  
	}
	.form__label {
		@include max-screen($sm){
			margin-bottom: 25px;
		}  
	}

}
.form {}
.form__field-name {}
.lk-search-form__bottom {}
.btn-bg-green {}
.link {}
/*--------------------END password----------------------*/ 